<form class="login-form">
	<div class="login-form-labels">
		<div class="login-username">
			<label for="username">Username:</label>
			<input class="login-label" type="text" name="username">
		</div>
		<div class="login-pass">
			<label for="pass">Password:</label>
			<input class="login-label" type="password" name="password" required>
		</div>
	</div>
	<div class="submit-form-button">
		<input class="button-login-form" type="submit" value="Login ☺ ">
		<a class="register-form" th:href="@{/register}">Register</a>
	</div>
</form>