<nav class="navbar bg-dark">
	<a class="navbar-brand" href="/">Driuki-Demo-MotoShop</a>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/product">Products</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/contacts">Contacts</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">
				<img src="/image/cart-logo.png" style="width: 25px; height: 25px;"/>
			</a>
		</li>
	</ul>
</nav>